In [1]:
motorcycles = ['kia','benz','yamaha','honda']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['kia', 'benz', 'yamaha', 'honda']
['kia', 'benz', 'yamaha', 'honda', 'ducati']

# Using the append function to add items to an empty list

In [3]:
# Using the append function to add items to an empty list

motorcycles = []

motorcycles.append('kia')
motorcycles.append('benz')
motorcycles.append('yamaha')
motorcycles.append('honda')

print(motorcycles)

['kia', 'benz', 'yamaha', 'honda']

In [4]:
# using the insert method,i created a list and insert a value at index zero

motorcycles = ['kia','benz','yamaha','honda']

motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'kia', 'benz', 'yamaha', 'honda']

In [5]:
# using the delete method, i deleted a value from index zero

motorcycles = ['kia','benz','yamaha','honda']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['kia', 'benz', 'yamaha', 'honda']
['benz', 'yamaha', 'honda']

In [6]:
# using pop method

motorcycles = ['kia','benz','yamaha','honda']
print(motorcycles)

popped_motorcycles = motorcycles.pop()
print(motorcycles)
print(popped_motorcycles)

['kia', 'benz', 'yamaha', 'honda']
['kia', 'benz', 'yamaha']
honda

In [7]:
motorcycles = ['kia','benz','yamaha','honda']

last_owned = motorcycles.pop()
print(f"The last motorcycles i owned was a {last_owned.title()}.")

The last motorcycles i owned was a Honda.

In [8]:
motorcycles = ['kia','benz','yamaha','honda']
print(motorcycles)

motorcycles.remove('kia')
print(motorcycles)

['kia', 'benz', 'yamaha', 'honda']
['benz', 'yamaha', 'honda']

In [12]:
motorcycles = ['kia','benz','yamaha','honda']
print(motorcycles)

too_expensive = 'kia'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\n {too_expensive.title()} is too expensive for me.")

['kia', 'benz', 'yamaha', 'honda']
['benz', 'yamaha', 'honda']

 Kia is too expensive for me.

In [1]:
# using sort method
# 29-02-2024


cars = ['bmw', 'audi','toyota','subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [2]:
cars = ['bmw', 'audi','toyota','subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [3]:
cars = ['bmw', 'audi','toyota','subaru']
cars.sort(reverse=False)
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [7]:
cars = ['bmw', 'audi','toyota','subaru']

#print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [8]:
cars = ['bmw', 'audi','toyota','subaru']
print (cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [13]:
cars = ['bmw', 'audi','toyota','subaru']
print(cars[3])

subaru

In [16]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [6]:
cars = ['bmw', 'audi','toyota','subaru']
for car in cars:
    print(car)

bmw
audi
toyota
subaru

In [8]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()},that was a great trick!\ ")

Alice,that was a great trick!

David,that was a great trick!

Carolina,that was a great trick!

In [16]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick! ")
    print(f"I can't wait to see your new trick,{magician.title()}.\n")

IndentationError: expected an indented block after 'for' statement on line 2 (218378786.py, line 3)

In [17]:
message = "Hello Python world!"
    print(message)

IndentationError: unexpected indent (2495908521.py, line 2)

In [22]:
for value in range(1, 20):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [28]:
numbers = list(range(0, 5))
print(numbers)

[0, 1, 2, 3, 4]

In [37]:
# making a list of first 10 square numbers (that is,the square of each integer from 1 through 10)
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
digits = [1,2,3,4,5,6,7,8,9,0]
min(digits)

0

In [3]:
digits = [1,2,3,4,5,6,7,8,9,0]
max(digits)

9

In [4]:
digits = [1,2,3,4,5,6,7,8,9,0]
sum(digits)

45

In [5]:
digits = [1,2,3,4,5,6,7,8,9,0]
len(digits)

10

In [6]:
# making a list of first 10 square numbers (that is,the square of each integer from 1 through 10)
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
squares = [value ** 2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
players = ['charles','martina','michael','florence','eli']
print(players[-3:])

['michael', 'florence', 'eli']

In [17]:
my_foods = ['pizza','falafel','carrot cake']
friend_foods = my_foods[:]
print(friend_foods)

['pizza', 'falafel', 'carrot cake']

In [18]:
my_foods.append('meat pie')
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'meat pie']

In [19]:
dimension = (200, 50)
print(dimension[0])
print(dimension[1])

200
50

In [20]:
dimension.append(20)
print(dimension)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
dimensions = (200, 50)
print("Original dimension:")
for dimension in dimensions:
    print(dimension)
    
dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimensions)

Original dimension:
200
50

Modified dimensions:
(400, 100)
(400, 100)

In [4]:
2+2

4

In [5]:
2 + 2

4

In [15]:
cars =['audi','bmw','subaru','toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Subaru
Toyota

In [17]:
car = 'bmw'
car =='audi'

False

In [26]:
requested_topping = 'mushrooms'

if requested_topping != 'anchovies':
    print("Hold the anchovies! ")

Hold the anchovies!